# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store

